@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: #fff;
background-color: #171717;
transition: background-color 5000s ease-in-out 0s;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #FAFAFA;
  width: "100%";
  margin:0 auto;
}

html {
  scroll-behavior: smooth;

}

.button-primary {
  background: linear-gradient(to bottom, #FF461D, #FF0000);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.clip-path-first {
  clip-path: inset(0 65% 0 0);
}

.clip-path-second {
  clip-path: inset(0 0 0 35%);
}

.clip-path-first-mobile {
  clip-path: inset(20% 0 0 0);
}

.clip-path-second-mobile {
  clip-path: inset(0 0 80% 0);
}